/* Reset Start */
* { outline:none; padding:0; border:none; margin:0; -webkit-text-size-adjust:none;  box-sizing:border-box; list-style:none; text-decoration: none; }
html{font-size:62.5%;}
body { 	font-family: Arial, Helvetica, sans-serif; 	margin: 0px; 	padding: 0px; 	color:#232323; }
a:hover{ color: #28b8d8; text-decoration: none; }
img { width: 100%; }
@font-face { font-family: 'roboto_slabbold';src: url('../fonts/robotoslab-bold-webfont.woff2') format('woff2'),url('../fonts/robotoslab-bold-webfont.woff') format('woff');
    font-weight: normal; font-style: normal;

}

 
@font-face {font-family: 'robotobold_condensed'; src: url('../fonts/roboto-boldcondensed-webfont.woff2') format('woff2'),
    url('../fonts/roboto-boldcondensed-webfont.woff') format('woff');font-weight: normal; font-style: normal;

}
@font-face { font-family: 'roboto_slablight';src: url('../fonts/robotoslab-light-webfont.woff2') format('woff2'),url('../fonts/robotoslab-light-webfont.woff') format('woff');
  font-weight: normal;font-style: normal;

}
@font-face { font-family: 'robotoregular';src: url('../fonts/../fonts/roboto-regular-webfont.woff2') format('woff2'),url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.main{ max-width:1170px; margin: auto; width: 90% }
section{ width: 100%; float: left; padding: 70px 0; }
p{ font-size: 1.4rem;font-family: 'robotoregular';color: #666666;width: 100%;  float: left; line-height: 22px; }
h1 { font-family: 'robotobold_condensed';       font-size: 5rem; color: #ffffff; }
h2{ color: #444444 ;font-size: 3rem; width: 100%;font-family: 'roboto_slablight';float: left; text-align: center; margin: 0 0 20px 0; }
h3{color: #444444;font-size: 1.8rem; float: left; text-align: center; width: 100%; font-family: 'robotobold_condensed'; font-weight: normal; margin: 0px 0 30px 0; text-transform: uppercase;}
h3:after{position: absolute; right: 0; content: ""; height: 2px; border-top: 1px double #d9d9d9; top: 159px; width: 100px; display: block; border-bottom: 1px double #d9d9d9;}
h3:before{position: absolute; left: 0; content: ""; height: 2px; border-bottom: 1px double #d9d9d9;border-top: 1px double #d9d9d9;
top: 159px; width: 100px; display: block;}
h4{color: #444444; text-align: center; font-size: 1.7rem; font-family: 'roboto_slabbold'; margin: 0px 0 6px 0; }
h5 {font-family: 'robotobold_condensed';font-size: 1.6rem; float: left; font-weight: normal;text-transform: uppercase;color: #f0f0f0;}
.banner .owl-prev {text-indent: -31px;overflow: hidden;overflow: hidden;text-indent: -31px;top: 47%;position: absolute;background: red;left: 10px;width: 45px;height: 45px;background:url(../images/sprite1.png) -52px -274px no-repeat}
.banner .owl-next{text-indent: -31px;overflow: hidden;right: 10px; top: 47%;position: absolute;background: red;width: 45px;height: 45px;background:url(../images/sprite1.png) -52px -323px no-repeat}
  



  
 .title {
    margin: 0 auto;
    max-width: 430px; width: 85%;
    position: relative;
}


 
 